/ClassWork/D84838GC10_labs/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice1/Employee04-01Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice2/Employee04-02Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice3/Singleton04-03Prac/build/
/ClassWork/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice1/AbstractBanking05-01Prac/build/
/ClassWork/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice2/EmployeeInner05-02Prac/build/
/ClassWork/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice3/EnumBanking05-03Prac/build/
/ClassWork/D84838GC10_labs/labs/06-Interfaces/practices/practice1/Pet06-01Prac/build/
/ClassWork/D84838GC10_labs/labs/06-Interfaces/practices/practice2/InterfaceBanking06-02Prac/build/
/ClassWork/D84838GC10_labs/labs/06-Interfaces/practices/practice3/LambdaBasics06-03Prac/build/
/ClassWork/D84838GC10_labs/labs/07-Generics_Collections/practices/practice1/GenericsHashMap07-01Prac/build/
/ClassWork/D84838GC10_labs/labs/07-Generics_Collections/practices/practice2/Stack07-02Prac/build/
/ClassWork/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice1/EmployeeSearch08-01Prac/build/
/ClassWork/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice2/EmployeeSearch08-02Prac/build/
/ClassWork/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice3/EmployeeSearch08-03Prac/build/
/ClassWork/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice4/EmployeeSearch08-04Prac/build/
/ClassWork/D84838GC10_labs/labs/06-Interfaces/solutions/practice2/InterfaceBanking06-02Soln/build/
/ClassWork/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice1/EmployeeSearch09-01Prac/build/
/ClassWork/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice2/EmployeeSearch09-02Prac/build/
/ClassWork/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice3/EmployeeSearch09-03Prac/build/
/ClassWork/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice4/EmployeeSearch09-04Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice1/SalesTxn10-01Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice2/SalesTxn10-02Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice3/SalesTxn10-03Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice4/SalesTxn10-04Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice5/SalesTxn10-05Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice6/SalesTxn10-06Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice7/SalesTxn10-07Prac/build/
/ClassWork/D84838GC10_labs/labs/10-LambdaOperations/practices/practice8/SalesTxn10-08Prac/build/
/ClassWork/D84838GC10_labs/labs/11-Exceptions/practices/practice2/CustomExceptions11-02Prac/build/
/ClassWork/D84838GC10_labs/labs/12-DateTime/practices/practice1/LocalDatesAndTimes12-01Prac/build/
/ClassWork/D84838GC10_labs/labs/12-DateTime/practices/practice2/DepartArrive12-02Prac/build/
/ClassWork/D84838GC10_labs/labs/12-DateTime/practices/practice3/TimeBetween12-03Prac/build/
/ClassWork/D84838GC10_labs/labs/13-IO_Fundamentals/practices/practice1/FileScanner13-01Prac/build/
/ClassWork/D84838GC10_labs/labs/13-IO_Fundamentals/practices/practice1/FileScanner13-01Prac/dist/
/ClassWork/D84838GC10_labs/labs/13-IO_Fundamentals/practices/practice2/SerializeShoppingCart13-02Prac/build/
/ClassWork/D84838GC10_labs/labs/14-NIO.2/practices/practice2/LambdaDirectory14-02Prac/build/
/ClassWork/D84838GC10_labs/labs/15-Concurrency/practices/practice1/ConCount15-01Prac/build/
/ClassWork/D84838GC10_labs/labs/15-Concurrency/practices/practice2/ExecutorService15-02Prac/build/
/ClassWork/D84838GC10_labs/labs/16-ForkJoin/practices/practice1/ForkJoinFindMax16-01Prac/build/
/ClassWork/D84838GC10_labs/labs/18-JDBC/practices/practice1/SimpleJDBC18-01Prac/build/
/ClassWork/D84838GC10_labs/labs/19-Localization/practices/practice1/Localized19-01Prac/build/
/JavaFX/JavaFXApplication3/nbproject/private/
/JavaFX/JavaFXApplication3/build/
/JavaFX/ClickMe/nbproject/private/
/JavaFX/ClickMe/build/
/JavaFX/ClickMe/dist/
/JavaFX/Testing123/nbproject/private/
/JavaFX/Testing123/build/
/JavaFX/EventHandling/nbproject/private/
/JavaFX/EventHandling/build/
/JavaFX/EventHandling/dist/
/JavaFX/StageScene/nbproject/private/
/JavaFX/StageScene/build/
/JavaFX/LayoutPanes/nbproject/private/
/JavaFX/LayoutPanes/build/
/JavaFX/ChoosingFromList/nbproject/private/
/JavaFX/ChoosingFromList/build/
/JavaFX/JavaWeb/nbproject/private/
/JavaFX/JavaWeb/build/
/JavaFX/JavaWeb/dist/
/Java Web/ClickMe/nbproject/private/
/Java Web/ClickMe/build/
/Java Web/ClickMe/dist/
/JavaFX/LayoutPanes/dist/
/Java Web/JavaApplication4/nbproject/private/
/Java Web/JavaApplication4/build/
/Java Web/JavaApplication4/dist/
/Java Web/Testing123/nbproject/private/
/Java Web/Testing123/build/
/Java Web/Testing123/dist/
/JavaFX/StageScene/dist/
/Java Web/JavaFXApplication12/nbproject/private/
/Java Web/JavaFXApplication12/build/
/Java Web/JavaFXApplication12/dist/
/Java Web/JavaFXApplication7/nbproject/private/
/Java Web/DemoServlet/nbproject/private/
/Java Web/DemoServlet/build/
/Java Web/HelloWorld/nbproject/private/
/Java Web/HelloWorld/build/
/Java Web/HelloServlet/nbproject/private/
/Java Web/HelloServlet/build/
/Java Web/InputServlet/nbproject/private/
/Java Web/InputServlet/build/
/Java Web/Movie/nbproject/private/
/Java Web/InputJSP/nbproject/private/
/Java Web/InputJSP/build/
/Java Web/DateJSP/nbproject/private/
/Java Web/DateJSP/build/
/Java Web/Scriptlets/nbproject/private/
/Java Web/Scriptlets/build/
/Java Web/Declarations/nbproject/private/
/Java Web/Declarations/build/
/Java Web/ListMovies/nbproject/private/
/Java Web/JavaBeans/nbproject/private/
/Java Web/Triangle/nbproject/private/
/Java Web/JavaBeans/build/
/Java Web/InventoryOrder/nbproject/private/
/Java Web/InventoryOrder/build/
/Java Web/Building/nbproject/private/
/Java Web/Building/build/
/Java Web/Testing/nbproject/private/
