/ClassWork/D84838GC10_labs/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice1/Employee04-01Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice2/Employee04-02Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice3/Singleton04-03Prac/build/
/ClassWork/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice1/AbstractBanking05-01Prac/build/
/ClassWork/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice2/EmployeeInner05-02Prac/build/
/ClassWork/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice3/EnumBanking05-03Prac/build/
/ClassWork/D84838GC10_labs/labs/06-Interfaces/practices/practice1/Pet06-01Prac/build/
/ClassWork/D84838GC10_labs/labs/06-Interfaces/practices/practice2/InterfaceBanking06-02Prac/build/
