/ClassWork/D84838GC10_labs/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice1/Employee04-01Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice2/Employee04-02Prac/build/
/ClassWork/D84838GC10_labs/labs/04-Polymorphism/practices/practice3/Singleton04-03Prac/build/
